<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <input #variableinput (keyup)="buscarHospital( variableinput.value )" type="text" class="form-control" placeholder="Buscar Hospital....">

            </div>
        </div>
    </div>
</div>
<!-- ANIMACION DE CARGANDO...... -->
<div class="row animated fadeIn" *ngIf="cargando">
    <div class="col-sm-12">
        <div class="alert alert-warning text-center">
            <strong>Cargando</strong>
            <br>
            <i class="fa fa-refresh fa-spin fa-2x"></i>
            <br>
            <span>Espere por favor</span>

        </div>
    </div>
</div>

<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="text-right">
                    <button (click)="crearHospital()" type="button" class="btn waves-effect waves-light btn-rounded btn-primary">
                        <i class="fa fa-plus"></i> Nuevo
                    </button>
                </div>

                <!-- CABECERA DE TABLA -->
                <h3 class="card-title"> Hospitales registrados (<small> {{ totalRegistros }} </small>)</h3>
                <!-- TABLA -->
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <td>Imagen</td>
                            <td>Nombre</td>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let hospital of listaHospitales">
                            <td class="w70 pointer"> <img (click)='mostrarModal( hospital._id)' [src]="hospital.img | imagen_pipe:'hospital'" class="img-50 img-circle"></td>
                            <td> {{ hospital.nombre }} </td>
                            <td>
                                <button (click)="actualizarHospital(hospital)" class="btn btn-primary">
                                <i class="fa fa-edit"></i>
                                </button>

                                <button (click)="borrarHospital(hospital)" class="btn btn-danger">
                                <i class="fa fa-trash-o"></i>
                              </button>
                            </td>
                        </tr>
                    </tbody>

                </table>

                <!-- BOTONES DE NAVEGACION -->
                <button (click)="cambiarDesde(-5)" class="btn btn-secondary">
                Anteriores
              </button>

                <button (click)="cambiarDesde(5)" class="btn btn-secondary">
                Siguientes
              </button>
            </div>
        </div>
    </div>
</div>